:host {
  &::before {
    content: '';
    display: block;
    flex-grow: 1;
    min-height: 30px;
    -webkit-box-flex: 1;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: '';
    display: block;
    flex-grow: 1;
    min-height: 30px;
    -webkit-box-flex: 1;
  }
}

h2 {
  text-align: center;
}

.login-card {
  width: 100%;
  max-width: 350px;
}

.login-form {
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: block;
}
